replicaCount: 1

image:
  repository: ghcr.io/chrisbotina7823/service-discovery
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8761

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

livenessProbe:
  httpGet:
    path: /actuator/health
    port: 8761
  initialDelaySeconds: 240
  periodSeconds: 30
  timeoutSeconds: 10

readinessProbe:
  httpGet:
    path: /actuator/health
    port: 8761
  initialDelaySeconds: 240
  periodSeconds: 30
  timeoutSeconds: 10

env: []
