apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-loki-datasource
  namespace: observability
  labels:
    grafana_datasource: "1"
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: datasource
data:
  loki-datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki-stack.observability.svc.cluster.local:3100
      isDefault: false
      editable: true
      jsonData:
        maxLines: 1000
        timeout: 60
      version: 1
