apiVersion: v1
kind: ConfigMap
metadata:
  name: zipkin-datasource
  namespace: observability
  labels:
    grafana_datasource: "1"
data:
  zipkin-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Zipkin
        type: zipkin
        access: proxy
        url: http://zipkin.dev.svc.cluster.local:9411
        isDefault: false
        editable: true
        jsonData:
          tracesToLogsV2:
            datasourceUid: 'loki'
            spanStartTimeShift: '-1h'
            spanEndTimeShift: '1h'
            tags: ['job', 'instance', 'pod', 'namespace']
            filterByTraceID: false
            filterBySpanID: false
