---
- name: Update kubeconfig
  hosts: jenkins
  become: yes
  
  tasks:
    - name: Copy new kubeconfig.base64
      copy:
        src: "{{ jenkins_source_path }}/kubeconfig.base64"
        dest: "{{ jenkins_deploy_path }}/kubeconfig.base64"
        owner: ubuntu
        group: ubuntu
        mode: '0600'
    
    - name: Restart Jenkins container
      become_user: ubuntu
      shell: docker compose restart jenkins
      args:
        chdir: "{{ jenkins_deploy_path }}"
    
    - name: Wait for Jenkins
      uri:
        url: "http://localhost:8090/login"
        status_code: 200
      register: result
      until: result.status == 200
      retries: 20
      delay: 10
